<html>

<head>
  <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,700,900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/success.css">
</head>

<body>
  <div class="card">
    <div class="add-on">
      <i class="checkmark">✓</i>
    </div>
    <h1>Success</h1>
    <p>We received your message;<br/>we'll be in touch shortly!</p>
  </div>
</body>
  <script>
 // Add a script to redirect after a delay
    setTimeout(() => {
      window.location.href = '/';
    }, 2000); // Delay of 3 seconds (3000 milliseconds)
  </script>
</html>
